{% extends "base.html" %}

{% block title %}View Study{% endblock %}

{% block content %}
    {# TODO: Add critical alerts here #}
{#    {% if critical_alerts %}#}
{#    {% endif %}#}
    <form action="/view_study/1/dashboard/" method="post">
        <input type="date" name="end-date" placeholder="2017-02-16">
        <input type="submit" >
    </form>
    <p>{{ end_date }}</p>
    {% if participants_data %}
        <h2>Study Dashboard</h2>
        <table class="table table-hover table-bordered table-responsive" id="dashboard-table">
            <thead>
                <tr>
                    <th>Participant ID</th>
                    {% for day in seven_days %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for p_data in participants_data %}
                    <tr>
                        {% for k, v in p_data.items() %}
                            {% if k == "participant" %}
                                <td>{{ v }}</td>
                            {% else %}
                                <td>
                                    <table class="table table-bordered table-responsive" style="margin-bottom:0px;">
                                        <tbody>
                                            <tr>
                                                {% for count in v %}
                                                    <td>{{ count }}</td>
                                                {% endfor %}
                                            </tr>


                                        </tbody>
                                    </table>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {%  endif %}
{% endblock %}
